## STRINGS :
    string is a group of characters enclosed with single, double or triple quotes.
### Examples :

In [1]:
print('Hello')
print("Welcome")
print('''Python''')
print("""Language""")

Hello
Welcome
Python
Language

In [2]:
x = "Pavithra"
print(x)
print(type(x))

Pavithra
<class 'str'>

### Quotes inside quotes :
        we can use quotes inside a string

In [4]:
print("Hi, I'm Pavithra")
print("Welcome to 'Python' Language")
print('Welcome to "Python" Language')

Hi, I'm Pavithra
Welcome to 'Python' Language
Welcome to "Python" Language

### Multiline String :
        we can assign a multiline string to a variable using triple quotes

In [6]:
a = """Welcome
to
Python
Language"""
print(a)

Welcome
to
Python
Language

In [7]:
b = '''Welcome
to
Python 
Language'''
print(b)

Welcome
to
Python
Language

### Strings are Arrays :
        strings are arrays of bytes
        
        we can access the elememts of the string using the square brackets

In [8]:
x = "strings are arrays"
print(x[1])

t

In [9]:
a = "Python is a popular programming language"
print(a[15])

u

### Looping through a string :
        we can loop through the characters in a string using the for loop

In [12]:
for x in "pavithra":
    print(x)

p
a
v
i
t
h
r
a

### String Length :
        to find the length of the string we can use the len() function

In [13]:
a = "Pavithra"
print(len(a))

8

### STRING CONCATENATION :
        to concatenate or combine to strings we can use the + operator

In [16]:
a = "string"
b = "concatenation"
print(a+b)

stringconcatenation

In [17]:
a = "string"
b = " concatenation"
print(a+b)

string concatenation

### SLICING :
        slicing operation is used to access the sub string.
        
        it is a way to get the parts of the string using start,end,step values.

        especially used to text manipulation and data parsing.

            start - starting index

            end - stopping index

            step - interval between elements(default is 1)

        result of slicing is always sting(subset of characters from the original string

##### NOTE :
        First character has index 0
        end index is 5 means it consider upto 4 only(5 not included)n-1
#### Example

In [10]:
a = "Python Learning"
print(a[4:9])

on Le

In [9]:
# Slicing from the start - leaving out the start index
x = "Pavithra MCA"
print(x[:9])

Pavithra

In [8]:
#Slicing to the end - leaving out the end index
y = "Tamil Nadu"
print(y[6:])

Nadu

### Getting charcters at specific interval
        we can use the step parameter to get values at specific interval

In [14]:
a = "welcome to learn python programming"
print(a[0:35:1])

welcome to learn python programming

In [15]:
a = "welcome to learn python programming"
print(a[0:35:2])

wloet er yhnpormig

In [26]:
#step value cannot be zero
a = "welcome to learn python programming"
print(a[0:35:0])

ValueError: slice step cannot be zero

### Retrieve all characters
        use slicing without parameters

In [4]:
a = "Slicing Operation"
print(a[:])
print(a[::])

Slicing Operation
Slicing Operation

### Negative Indexing
        it can be used to access the elements from the end of the string

        last element has index -1 and second last element has -2 and so on

In [16]:
x = "abcdefghijklmnopqrstuvwxyz"
print(x[-5:])

vwxyz

In [17]:
x = "abcdefghijklmnopqrstuvwxyz"
print(x[:-5])

abcdefghijklmnopqrstu

In [18]:
x = "abcdefghijklmnopqrstuvwxyz"
print(x[-20:-6])

ghijklmnopqrst

In [19]:
x = "abcdefghijklmnopqrstuvwxyz"
print(x[-20:-6:4])

gkos

### Reversing a string
        to reverse a string use a negative step value of -1, which reverses the end of the string to begining

In [20]:
a = "Pavithra N"
print(a[::-1])

N arhtivaP

In [21]:
b = "Welcome To Tindivanam"
print(b[::-1])

manavidniT oT emocleW

### ESCAPE CHARACTER :
        escape character can be used to insert the illegal character in a string

        escape character is a backslash(\) followed by the character we need to insert
#### Example
        double quotes inside a string surrounded by double quotes is illegal, but we can solve this problem using escape character(\")

In [32]:
a = "Welcome to learn \"Python\" programming"
print(a)

Welcome to learn "Python" programming

### FORMATTING A STRING :
#### String Format
        As we learned in python we cannot combine string and number.

        But we can combine string and number by using F-String or format() method.
#### F-String
        It was introduced in python 3.6 and now it is the preferred way to formatting the string.

        To specify string as a f-string, add f in front of the string literal and add {} placeholder for variables and functions.
##### Example

In [34]:
age = 20
x = f"My age is {age}"
print(x)

My age is 20

#### Placehoders
        placeholders can contain variables, operations, functions and modifiers(format the values)

        modifier is included by adding the semicolon(:) followed by formatting type like (.2f) which means fixed point number with two decimal
##### Examples

In [35]:
price = 500
a = f"The price of vessel is {price:.2f}"
print(a)

The price of vessel is 500.00

In [36]:
#math operation
x = f"The price is {30*10} dollars"
print(x)

The price is 300 dollars