## STRING BUILT-IN METHODS :
        1.lower()
        2.upper()
        3.capitalize()
        4.casefold()
        5.center()
        6.count()
        7.index()
        8.find()
        9.replace()
        10.strip()
        11.split()
        12.join()
        13.format()
        14.format_map()
        15.isalnum()
        16.isalpha()
        17.isascii()
        18.isdecimal()
        19.isdigit()
        20.isnumeric()
        21.islower()
        22.isupper()
        23.isspace()

### lower() :
        converts the string into lowercase
        symbols and numbers are ignored

In [3]:
a = "Python"
print(a.lower())

python

In [4]:
b = "PAVITHRA"
print(b.lower())

pavithra

In [6]:
x = "PYTHON 3.6"
print(x.lower())

python 3.6

### upper()
        converts the string into uppercase
        symbols and numbers are ignored

In [7]:
a = "mca"
print(a.upper())

MCA

b = "Welcome to Python Program"
print(b.upper())

### capitalize()
        converts the first character to uppercase

In [9]:
x  = "banana is my favorite fruit"
print(x.capitalize())

Banana is my favorite fruit

### casefold()
        converts string into lowercase
        casefold() is similar to lower() but it is stronger, because it converts more characters into lowecase

In [1]:
x  = "Banana is My Favorite Fruit"
print(x.casefold())

banana is my favorite fruit

### center()
        return the centered string
##### syntax
        string.center(length,character
        
            length - required(length to return string)
            character - optional(to fill the missing space)

In [13]:
txt = "Python Programming is fun!"
x = txt.center(100)
print(x)

                                     Python Programming is fun!

In [14]:
txt = "Python Programming is fun!"
x = txt.center(125,'*')
print(x)

**************************************************Python Programming is fun!*************************************************

In [8]:
txt = "Python Programming is fun!"
x = txt.center(50,'z')
print(x)

zzzzzzzzzzzzPython Programming is fun!zzzzzzzzzzzz

### count()
        returns the number of times specific value is occured
##### syntax
        string.count(value,start,end)

            value - the value to count(required)
            start - starting position, default is 0(optional)
            end - ending position(optional)

In [9]:
txt = "banana"
x = txt.count('n')
print(x)

2

In [10]:
txt = "I love apple, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [11]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [12]:
txt = "I love apple, apple are my favorite fruit"
x = txt.count("apple",0,15)
print(x)

1

### index()
        return the position of the specified value where it was found
        finds the first occurrence of the specified value
        gives exception if the value was not found
##### syntax
        string.index(value,start,end)

            value - value to search
            start - starting point
            end - stopping point

In [20]:
txt = "banana"
x = txt.index('b')
print(x)

0

In [17]:
txt = "I love apple, apple are my favorite fruit"
x = txt.index("apple")
print(x)

7

In [21]:
txt = "I love apple, apple are my favorite fruit"
x = txt.index("apple",13,30)
print(x)

14

In [23]:
#raises exception if the value was not found
txt = "I love apple, apple are my favorite fruit"
x = txt.index("guava")
print(x)

ValueError: substring not found

### find()
        return the position of the specified value where it was found
        finds the first occurrence of the specified value
        returns -1 if the value was not found
        this method is similar to the index() method, this method returns -1 if the value was not found, but index() returns exception
##### syntax
        string.index(value,start,end)

            value - value to search
            start - starting point
            end - stopping point

In [1]:
txt = "banana"
x = txt.find('b')
print(x)

0

In [3]:
txt = "I love apple, apple are my favorite fruit"
x = txt.find("m")
print(x)

24

In [5]:
#raises -1 if the value was not found
txt = "I love apple, apple are my favorite fruit"
x = txt.find("blueberry")
print(x)

-1

### replace()
        used to replace one string with another string
##### syntax
        string.replace(old_value,new_value,count)

            count - we can specify how many occurrences of old value to reolace, default is all occurrences

In [6]:
x = "I like cat"
print(x.replace("cat","cow"))

I like cow

In [11]:
#default occurrences
x = "one one was a race horse, two two was one too"
print(x.replace("one","four"))

four four was a race horse, two two was four too

In [12]:
#specifying count
x = "one one was a race horse, two two was one too"
print(x.replace("one","four",2))

four four was a race horse, two two was one too

### strip()
        removes whitespace at the beginning or end

In [13]:
a = "  Python Programming  "
print(a.strip())

Python Programming

### split()
        used to split the string into list of substrings based on a specified delimeter
        If no delimeter is specified, it splits by whitespace by dafault
##### syntax
        string.split(seperator,maxsplit)

            seperator - delimeter to split
            maxsplit - specifies the no of splits, default is -1(which means all occurrences)

In [4]:
#split by whitespace
x = "python program"
print(x.split())

['python', 'program']

In [12]:
#split by a specific delimeter(,)
x = "c,c++,python,java"
print(x.split(","))

['c', 'c++', 'python', 'java']

In [14]:
#using maxsplit
x = "one one was a race horse two two was one too"
print(x.split(" ",6))

['one', 'one', 'was', 'a', 'race', 'horse', 'two two was one too']

In [17]:
#splitting by specific character
a = "pavithra"
print(a.split("i"))

['pav', 'thra']

### join()
        used to concatenate elements of an iterable(list,tuple,set) into a single string
        string must be specified as the seperator
        the elements must be string, otherwise we need to convert them into string
##### syntax
        string(seperator).join(iterable)
            seperator - required, a string used as a delimiter between elements
            iterable - required, collectin of string(tuple,set,list)

In [18]:
#list
txt = ['pavi','kavya','tamiz']
print("*".join(txt))

pavi*kavya*tamiz

In [25]:
#tuple
tuple = ("python program")
print(" ".join(tuple))

p y t h o n   p r o g r a m

In [23]:
#tuple
tuple = "(python)"
print("^".join(tuple))

(^p^y^t^h^o^n^)

In [26]:
letters = ['p','a','v','i','t','h','r','a']
print("#".join(letters))

p#a#v#i#t#h#r#a

In [28]:
letters = ['p','a','v','i','t','h','r','a']
print("_name_".join(letters))

p_name_a_name_v_name_i_name_t_name_h_name_r_name_a

In [30]:
#element cannot be int, we need to convert them into string
dict = {1:'p',2:'a',3:'v',4:'i'}
print("$".join(map(str,dict)))

1$2$3$4

### format()
        used to format the specified value
        placeholder{} is specified in astring with value to format
        placeholder can be named indexes{age}, numbered indexes{10} or empty indexes{}
##### syntax
        string.format(value1,value2,...)
            values - it can be any datatype

In [32]:
#named indexes
x = "My name is {name}, I'm {age}".format(name="Pavithra",age=20)
print(x)

My name is Pavithra, I'm 20

In [36]:
#numbered indexes
x = "My name is {0}, I'm {1}".format("Pavithra",20)
print(x)

My name is Pavithra, I'm 20

In [37]:
#empty indexes
x = "My name is {}, I'm {}".format("Pavithra",20)
print(x)

My name is Pavithra, I'm 20

### format_map
        formats the string using dictionary key values
##### syntax
        string.format_map(z)
            z - it is a variable in which the dictionary values is stored

In [42]:
dict = {'a':"apple",'b':"orange"}
print("I love {a}, but i have {b}".format_map(dict))

I love apple, but i have orange

In [48]:
dict1 = {"val1":"apple","val2":"orange"}
print("I love {val1}, but i have {val2}".format_map(dict1))

I love apple, but i have orange

### isalnum()
        returns true if all the characters in the string contains alphanumeric, alphabets(a-z) and numbers(0-9)

In [49]:
a = "pavi2001"
print(a.isalnum())

True

In [56]:
b = "python"
print(b.isalnum())

True

In [51]:
x = "16112024"
print(x.isalnum())

True

In [52]:
y = "pavi_2024"
print(y.isalnum())

False

### isalpha()
        returns true if all the characters in the string contains alphabets(a-z)

In [53]:
a = "pavi2001"
print(a.isalpha())

False

In [57]:
b = "python"
print(b.isalpha())

True

In [55]:
x = "16112024"
print(x.isalpha())

False

### isascii()
        checks all the characters in the string are ascii characters(character range from 0 to 127)
        returns true if all the characters in the string are ascii characters(a-z)

In [58]:
x = "pavithra"
print(x.isascii())

True

In [62]:
a = "456789"
print(a.isascii())

True

### isdecimal()
        returns true if all the characters in the string are decimal(0-9)

In [63]:
a = "456789"
print(a.isdecimal())

True

In [64]:
a = "pavi2001"
print(a.isdecimal())

False

In [68]:
x = "\u0030"  #unicode for 0
print(x.isdecimal())

True

In [69]:
#return false because it is an unicode for character
x = "\u0047"  #unicode for G
print(x.isdecimal())

False

In [71]:
a = "4567.89"  #return false because it contains dot(.)
print(a.isdecimal())

False

### isdigit()
        returns true if all the characters in the string contains digit
        exponents like square are also considered as digit

In [72]:
a = "456789"
print(a.isdigit())

True

In [73]:
a = "4567.89"
print(a.isdigit())

False

In [74]:
x = "\u0030"  #unicode for 0
print(x.isdigit())

True

In [75]:
y = "\u00B2"  # unicode for 2(square)
print(y.isdigit())

True

### isnumeric
        return true if all the characters in the string are numeric
        3/4 and 2(square) are consiered as numeric
        1.5 and -5 numbers like these are not considered as numeric because it had . and -

In [82]:
a = "456789"
print(a.isnumeric())

True

In [83]:
a = "4567.89"
print(a.isnumeric())

False

In [84]:
a = "-70"
print(a.isnumeric())

False

In [86]:
x = "10km2"
print(x.isnumeric())

False

### islower()
        returns true if all the characters in the string are lowercase
        numbers, symbols and spaces are ignored

In [77]:
a = "I love python"
print(a.islower())

False

In [78]:
b = "python is a high level language"
print(b.islower())

True

In [79]:
x = "pavi_2024"
print(x.islower())

True

### isupper()
        returns true if all the characters in the string are in uppercase
        symbols, numbers and spaces are ignored

In [80]:
x = "PYTHON"
print(x.isupper())

True

In [81]:
a = "I love python"
print(a.isupper())

False

### isspace()
        returns true if all the characters in the string are whitespace

In [87]:
a = "    "
print(a.isspace())

True

In [88]:
x = "python"
print(x.isspace())

False

In [89]:
v = "Pavithra N"
print(v.isspace())

False

In [90]:
r = "      N      "
print(r.isspace())

False

In [91]:
b = "Hello    "
print(b.isspace())

False